pkgbase = absotui-bin
	pkgdesc = A fun, fast, and intuitive TUI client for Audiobookshelf
	pkgver = 0.9.1
	pkgrel = 1
	url = https://github.com/pdwaldrop/absotui
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	depends = vlc
	depends = gnu-netcat
	provides = absotui
	conflicts = absotui
	options = !debug
	options = strip
	source = config.example-0.9.1.toml::https://github.com/pdwaldrop/absotui/releases/download/v0.9.1/config.example.toml
	source = absotui-0.9.1.desktop::https://github.com/pdwaldrop/absotui/releases/download/v0.9.1/absotui.desktop
	source = absotui-0.9.1.svg::https://github.com/pdwaldrop/absotui/releases/download/v0.9.1/absotui.svg
	sha256sums = 1d61826ad9bd26728c85f2479f93c7960daff4e1a4c896fadf5366b1936f9c85
	sha256sums = 31112a9600a4448c75a94b4f276d14140aed4269a0e72092d3303e9ff34a421f
	sha256sums = 2fee11a294408461a228d7313a64f64565b171dc2281a354b92690d756d9e509
	source_x86_64 = absotui-bin-0.9.1-x86_64.tar.gz::https://github.com/pdwaldrop/absotui/releases/download/v0.9.1/absotui-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 5b850934cd69d96f1d067ff9ba70f50c819bb7160b1188e7224407748bcf78b1
	source_aarch64 = absotui-bin-0.9.1-aarch64.tar.gz::https://github.com/pdwaldrop/absotui/releases/download/v0.9.1/absotui-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 22270d19e189e03f8c9751e4eddb1e7e335ef05e0d9dac1dfa39ebc325005387

pkgname = absotui-bin
