[Desktop Entry]
Name=Absotui
GenericName=Audiobookshelf client
Exec=absotui
Icon=utilities-terminal
Type=Application
Categories=Utility;
Terminal=true

